<header>
  <cs-input placeholder="Browse your favourite coffee"></cs-input>
</header>

<main>
  <cs-card rating="4.5" name="Cinnamon & Cocoa" price="99" currency="₹">
    <img src="assets/images/coffees/cinnamon-cocoa.png" />
  </cs-card>

  <cs-card rating="4.5" name="Drizzled with Caramel" price="199" currency="₹">
    <img src="assets/images/coffees/drizzled-with-caramel.png" />
  </cs-card>

  <cs-card rating="4.5" name="Bursting Blueberry" price="249" currency="₹">
    <img src="assets/images/coffees/bursting-blueberry.png" />
  </cs-card>

  <cs-card rating="4.5" name="Dalgona Whipped Macha" price="299" currency="₹">
    <img src="assets/images/coffees/dalgona-whipped-macha.png" />
  </cs-card>
</main>
