:root {
  --background: #201520;
  --on-background: #ffffff;
  --primary: #efe3c8;
  --on-primary: #4a2b29;
  --error: #c94c4c;
}

html,
body {
  height: 100%;
  margin: 0;
  background: var(--background);
  color: var(--on-background);
}
